/** Width between 1200x to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (min-width: 1200px) {
  .music-text ul li
  {
    padding-right: 30px;
  }

  .nav-menu2
  {
    display: none;
  }
}

#PVintro
{
  /*margin-left: 30px;*/
  /*text-shadow: 2px 2px 5px black;*/
  font-weight: 700;
  margin-top: 25px;
  line-height: 0.72;
  top: 70%;
  font-size: 70px;
}

@media (min-width: 992px) and (max-width: 1199px) {

  .music-text ul li
  {
    padding-right: 30px;
  }

  .nav-menu2
  {
    display: none;
  }

  #PVintro
  {
    /*margin-left: 30px;*/
    /*text-shadow: 2px 2px 5px black;*/
    top: 70%;
    font-size: 130px;
  }
}

/** Width between 768px to 991px
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
 @media (max-width:300px)
 {
   #main-nav
   {
     dislay: none;
   }

   {

       dislay: none;

   }
 }


@media (min-width: 768px) and (max-width: 991px) {
  /* Navbar */

  #main-nav
  {
    dislay: none;
  }

.nav-menu2
  {
    display: none;
  }

  nav {
    padding: 10px 15px;
  }
  .nav-menu {
    margin-top: 40px;
    float: none;
    width: 100%;
  }
  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }
  /* music */
  .head-info .header-content .cmaster h1 {
    font-size: 32px;
  }
  #music .div-img-bg {
    padding: 0;
  }
  #music .div-img-bg .music-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }
  #music .music-descr .p-heading {
    font-size: 20px;
  }
  #music .music-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }
  .music-text ul li
  {
    padding-right: 30px;
  }

  /* entertainment */
  #ent .ent-list .nav li {
    float: none;
    margin: 20px;
    display: inline-block;
  }

  .middle {
    opacity: 1;
  }
  .img_overlay {
    font-size: 30px;
    margin-top: 80%;
  }

  #PVintro
  {
    margin-left: 30px;
    text-shadow: 2px 2px 5px black;
    font-weight: 700;
    margin-top: 25px;
    line-height: 0.72;
    top: 130%;
  }


/** Width between 767px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (max-width: 767px) {
  /* Navbar */

  .nav-menu2
  {
    display: none;
  }

  nav {
    padding: 15px 15px;
  }
  .nav-menu {
    margin-top: 40px;
    float: none;
    width: 100%;
  }
  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }

  #PVintro
  {
  	margin-left: 30px;
  	text-shadow: 2px 2px 5px black;
  	font-weight: 700;
  	margin-top: 25px;
  	line-height: 0.72;
    top: 130%;
    font-size: 100px;
  }

  /* music */
  .head-info .header-content h1 {
    font-size: 32px;
  }
  #music .div-img-bg {
    padding: 0;
  }
  #music .div-img-bg .music-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }

   .music-text ul
  {
	  margin-top: 6%;
  }


  /* entertainment */
  #ent .ent-list .nav li {
    float: none;
    margin: 20px;
    display: inline-block;
  }

  .middle {
    opacity: 1;
  }
  .img_overlay {
    font-size: 25px;
    margin-top: 80%;
  }

  /* pop culture */

 .PC-text ul
 {
	 margin-top: 0px;
 }
  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }
  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}

/** Width between 600px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (max-width: 600px) {
  /* Navbar */

  #main-nav
  {
    display: none;
  }

  nav {
    padding: 20px 15px;
  }
  .nav-menu {
    margin-top: 40px;
    float: none;
    width: 100%;
  }
  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }
  #PVintro
  {
    margin-left: 30px;
    text-shadow: 2px 2px 5px black;
    font-weight: 700;
    margin-top: 25px;
    line-height: 0.72;
    top: 100%;
  }
  /* music */
  .head-info .header-content h1 {
    font-size: 32px;
  }
  #music .div-img-bg {
    padding: 0;
  }
  #music .div-img-bg .music-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }
  #music .music-descr .p-heading {
    font-size: 20px;
  }
  #music .music-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }

  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }
  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}

/** Width between 480px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (max-width: 480px) {
  /* Navbar */

  #main-nav
  {
    display: none;
  }

  nav {
    padding: 20px 15px;
  }
  .nav-menu {
    margin-top: 40px;
    float: none;
    width: 100%;
  }
  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }
  /* music */
  .head-info .header-content h1 {
    font-size: 32px;
  }

  @keyframes left_to_right {
	  from {
		  margin-left:-150%
	  }
	  to {
		  margin-left: 30px;
	  }
  }

  #music .div-img-bg {
    padding: 0;
  }
  #music .div-img-bg .music-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }
  #music .music-descr .p-heading {
    font-size: 20px;
  }
  #music .music-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }

  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }
  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}

/** Width between 320px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (max-width: 320px) {
  /* Navbar */

  .nav-menu2
  {
    display: none;
  }

  nav {
    padding: 20px 15px;
  }
  .nav-menu {
    margin-top: 40px;
    float: none;
    width: 100%;
  }
  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }
  /* music */
  .head-info .header-content h1 {
    font-size: 32px;
  }
  #music .div-img-bg {
    padding: 0;
  }
  #music .div-img-bg .music-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }
  #music .music-descr .p-heading {
    font-size: 20px;
  }
  #music .music-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }
  /* ent */
  #ent .ent-list .nav li {
    float: none;
    margin: 20px;
  }

  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }
  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
  /* Single page */
  .entry-comments-body span {
    display: inline-block;
    margin-right: 0;
  }
}



@media (max-width: 991px)
{

  .nav-menu2
  {
    display: none;
  }

  .music_desktop
	{
		display:none;
	}

	.music-text ul {
	list-style:none;
	margin-top: 0%;
	}

	.PC-text ul {
  	  list-style: none;
  	  margin-top: 0%;
	}
}

#aboutUs
{
  height: 100px;
  width: 100%;
  clear:both;
}

#statsText
{
  width: 100%;
}

#statsImg img
{
  width: 100%;
}


#aboutImg img
{
  width: 50%;
  float: left;
}

#aboutText
{
  width: 100%;
}


@media (max-width: 399px)
{

  #main-nav
  {
    dislay: none;
  }

  .nav-menu2
  {
    display: none;
  }

  #PVintro
  {
    font-size: 50px;
  }

  @keyframes left_to_right {
  	from {
  		margin-left: -100%;
  	}
  	to {
  		margin-left: 0px;
  	}
  }

}

@media (min-width: 400px)
{

  .nav-menu2
  {
    display: none;
  }

  #PVintro
  {
    font-size: 70px;
  }

  @keyframes left_to_right {
  	from {
  		margin-left: -100%;
  	}
  	to {
  		margin-left: 0px;
  	}
  }

}

@media (min-width: 700px)
{


  .nav-menu2
  {
    display: none;
  }

  #PVintro
  {
    margin-left: 30px;
    text-shadow: 2px 2px 5px black;
    font-weight: 700;
    margin-top: 25px;
    line-height: 0.72;
    top: 100%;
  }

  @keyframes left_to_right {
  	from {
  		margin-left: -100%;
  	}
  	to {
  		margin-left: 0px;
  	}
  }
  nav ul li {
    float: left;
    font-family: 'Avenir Next', sans-serif;
    font-size: 14px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
  }

}


@media (min-width: 991px)
{
  #PVintro
  {
    font-size: 72px;
  }

  @keyframes left_to_right {
  	from {
  		margin-left: -100%;
  	}
  	to {
  		margin-left: 0px;
  	}
  }

	.music_mobile
	{
		display:none;
	}

	.contact-contact h2
{
	margin-top: 20%;
}
}

@media (min-width: 1440px)
{
  #PVintro
  {
    font-size: 105px;
  }
}
