/** Width between 1200x to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (min-width: 1200px) {

}


@media (min-width: 992px) and (max-width: 1199px) {

}

/** Width between 768px to 991px
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (min-width: 768px) and (max-width: 991px) {
  /* Navbar */
  nav {
    padding: 10px 15px;
  }
  .nav-menu {
    margin-top: 40px;
    float: none;
    width: 100%;
  }
  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }
  /* music */
  .head-info .header-content .cmaster h1 {
    font-size: 32px;
  }
  #music .div-img-bg {
    padding: 0;
  }
  #music .div-img-bg .music-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }
  #music .music-descr .p-heading {
    font-size: 20px;
  }
  #music .music-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }

  /* entertainment */
  #ent .ent-list .nav li {
    float: none;
    margin: 20px;
    display: inline-block;
  }

  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }
  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}

/** Width between 767px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (max-width: 767px) {
  /* Navbar */
  nav {
    padding: 15px 15px;
  }
  .nav-menu {
    margin-top: 40px;
    float: none;
    width: 100%;
  }
  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }
  /* music */
  .head-info .header-content h1 {
    font-size: 32px;
  }
  #music .div-img-bg {
    padding: 0;
  }
  #music .div-img-bg .music-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }
  #music .music-descr .p-heading {
    font-size: 20px;
  }
  #music .music-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }


   .music-text ul
  {
	  margin-top: 6%;
  }


  /* entertainment */
  #ent .ent-list .nav li {
    float: none;
    margin: 20px;
    display: inline-block;
  }

  /* pop culture */

 .PC-text ul
 {
	 margin-top: 0px;
 }
  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }
  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}

/** Width between 600px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (max-width: 600px) {
  /* Navbar */
  nav {
    padding: 20px 15px;
  }
  .nav-menu {
    margin-top: 40px;
    float: none;
    width: 100%;
  }
  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }
  /* music */
  .head-info .header-content h1 {
    font-size: 32px;
  }
  #music .div-img-bg {
    padding: 0;
  }
  #music .div-img-bg .music-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }
  #music .music-descr .p-heading {
    font-size: 20px;
  }
  #music .music-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }

  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }
  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}

/** Width between 480px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (max-width: 480px) {
  /* Navbar */
  nav {
    padding: 20px 15px;
  }
  .nav-menu {
    margin-top: 40px;
    float: none;
    width: 100%;
  }
  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }
  /* music */
  .head-info .header-content h1 {
    font-size: 32px;
  }

  @keyframes left_to_right {
	  from {
		  margin-left:-150%
	  }
	  to {
		  margin-left: 30px;
	  }
  }

  #music .div-img-bg {
    padding: 0;
  }
  #music .div-img-bg .music-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }
  #music .music-descr .p-heading {
    font-size: 20px;
  }
  #music .music-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }

  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }
  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}

/** Width between 320px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (max-width: 320px) {
  /* Navbar */
  nav {
    padding: 20px 15px;
  }
  .nav-menu {
    margin-top: 40px;
    float: none;
    width: 100%;
  }
  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }
  /* music */
  .head-info .header-content h1 {
    font-size: 32px;
  }
  #music .div-img-bg {
    padding: 0;
  }
  #music .div-img-bg .music-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }
  #music .music-descr .p-heading {
    font-size: 20px;
  }
  #music .music-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }
  /* ent */
  #ent .ent-list .nav li {
    float: none;
    margin: 20px;
  }

  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }
  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
  /* Single page */
  .entry-comments-body span {
    display: inline-block;
    margin-right: 0;
  }
}



@media (max-width: 991px)
{
	.music_desktop
	{
		display:none;
	}

	.music-text ul {
	list-style:none;
	margin-top: 0%;
	}

	.PC-text ul {
  	  list-style: none;
  	  margin-top: 0%;
	}
}

@media (max-width: 399px)
{
  #PVintro
  {
    font-size: 50px;
  }

  @keyframes left_to_right {
  	from {
  		margin-left: -100%;
  	}
  	to {
  		margin-left: 0px;
  	}
  }

}

@media (min-width: 400px)
{
  #PVintro
  {
    font-size: 70px;
  }

  @keyframes left_to_right {
  	from {
  		margin-left: -100%;
  	}
  	to {
  		margin-left: 0px;
  	}
  }

}

@media (min-width: 700px)
{
  #PVintro
  {
    font-size: 100px;
  }

  @keyframes left_to_right {
  	from {
  		margin-left: -100%;
  	}
  	to {
  		margin-left: 0px;
  	}
  }
  nav ul li {
    float: left;
    font-family: 'Avenir Next', sans-serif;
    font-size: 14px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
  }

}


@media (min-width: 991px)
{
  #PVintro
  {
    font-size: 142px;
  }

  @keyframes left_to_right {
  	from {
  		margin-left: -100%;
  	}
  	to {
  		margin-left: 0px;
  	}
  }

	.music_mobile
	{
		display:none;
	}

	.contact-contact h2
{
	margin-top: 20%;
}
}

@media (min-width: 1440px)
{
  #PVintro
  {
    font-size: 205px;
  }
}
