body {
  background: #464646;
  color: #898989;
  font-family: 'Avenir Next', helvetica;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.02em;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
 /* -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;*/
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  color: #292929;
  font-weight: 600;
}

h4 {
  color: #292929;
  font-size: 14px;
  font-weight: 600;
}

a {
  color: #292929;
  text-decoration: none !important;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

a:hover {
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

nav ul li a {
  padding: 2px 0 0 0;
  position: relative;
  font-size: 12px;
  color: #999999;
  letter-spacing: 0.1em;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

p {
  margin: 25px 0;
  padding: 0;
  font-size: 15px;
  color: #999999;
  line-height: 28px;
}

::selection {
  background: #b8a07e;
  color: #fff;

}

.btn {
  background: #333;
  border: medium none;
  border-radius: 0;
  color: #fff;
  font-size: 12px;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  text-transform: uppercase;
}

.btn:hover, .btn:focus {
  color: #fff;
}

.section-title {
  margin-bottom: 70px;
}

.section-title h2 {
  font-size: 1.8em;
  letter-spacing: 7px;
  text-transform: uppercase;
	color: white;
	font-family: "Avenir Next", sans-serif, arial, helvetica;
	font-weight: 300;
    text-shadow: 2px 2px 20px white, 1px 1px 20px white, 1px 1px 10px white;
	padding-bottom: 2px;
	
	
}

.form-control {
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 0;
  color: #999999;
  font-size: 12px;
  font-weight: 500;
  height: 50px;
  letter-spacing: 0.1em;
  margin: 0 0 25px 0;
  line-height: 14px;
  text-transform: uppercase;
}

.form-control:focus {
  box-shadow: none;
  outline: 0 none;
}

.hvr-shutter-in-horizontal::before {
  background: #333;
}

.hvr-shutter-in-horizontal:hover {
  background: #b8a07e;
}

.mb-30 {
  margin-bottom: 30px;
}

.hidden
{
  display: none;
}

/*  Navbar Top
/*-----------------------------------------------------------------------------------*/

nav {
  background: black;
  z-index: 1000;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin:  0 auto;
/*  display: none;*/
  -webkit-box-shadow: 20px 20px 92px 0px rgba(0, 0, 0, 0.30);
  -moz-box-shadow: 20px 20px 92px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
}

.nav-menu {
  margin-bottom: 0;
  padding-top: 10px;
  text-align: center;
}

.nav-menu ul {
  margin: 0 auto;
}

.nav-menu a
{
	font-family: American Typewriter, Courier, Helvetica;
	color: white;
	font-size: 1.1em;
}

.nav-menu a:hover
{
	color: gray;
	text-decoration-line: underline;
    text-decoration-style: solid;
}


nav ul
{
  display: inline;
}

nav ul li {
  float: left;
  font-family: 'Avenir Next', sans-serif;
  font-weight: lighter;
  font-size: 14px;
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 30px;
}

nav ul li a {
  display: inline;
  font-size: 2em;
  color: #999999;
  font-family: 'Avenir Next', helvetica;
  font-weight: heavy;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  float: left;
}

.logo img {
  width: 150px;
  height: auto;
}

.responsive {
  display: none;
  font-size: 23px;
}

.active {
  color: #afafaf;
}

/*----------------------------------------------------------------------------------*/
/*  Header
/*-----------------------------------------------------------------------------------*/

#header {
  width: 100%;
}


#header .header-content {
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-content h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
  position:absolute;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  position:absolute;
  animation: left_to_right ease 3s;
  background-image: url();
}


#header_bg
{
	width: 100%;
}

#PVintro
{
	/*margin-left: 30px;*/
	/*text-shadow: 2px 2px 5px black;*/
	font-weight: 700;
	margin-top: 25px;
	line-height: 0.72;

}
/*Media Queries for Header*/


#music1 {
  clear:both;
}

.music-img ul {
	list-style:none;
	margin: 0;
}

.music-img ul li
{
	display:inline;
	margin-left: 0;
}

.music-img ul li a
{
	display: inline;
	float: left;
	width: 50%;
}

#music1 .music-descr .p-heading {
  font-size: 28px;
}

#music1 .music-text .separator {
  max-width: 100%;
  margin-bottom: 0;
}

.img-responsive
{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}


#music2 {
  width: 100%;
}

.music-text ul {
	list-style:none;
	margin-top: 30%;
}

.music-text ul li
{
	display:block;
	font-size: 1.5em;
	line-height:normal;
	text-align: center;
	color: white;
}

.music-text .section-title
{
	margin-bottom: 20px;
	text-align: center;
}

.music-text
{
	height:500px;
}

.img_overlay_container
{
	position: relative;
    text-align: left;
    color: white;
	filter: grayscale(0%);
}

.text_overlay
{
	position: absolute;
    bottom: 8px;
    left: 16px;
	font-weight:400;
}

.img_overlay_container:hover
{
	color: white;
	text-shadow: 2px 2px 2px black;
	filter: grayscale(100%);
}

#NYFW
{
	color:white;
	text-shadow: 1px #000;
}

/*-----------------------------------------------------------------------------------*/
/*  Pop Culture
/*-----------------------------------------------------------------------------------*/

#popculture {
  width: 100%;
}

.PC-img ul {
	list-style:none;
}

.PC-img ul li
{
	display:inline;
}

.PC-img ul li a
{
	display: inline;
	float: left;
	width: 50%;
}

#popculture .music-descr .p-heading {
  font-size: 28px;
  text-align: left;
}

#popculture .music-descr .separator {
  max-width: 80%;
  margin-bottom: 0;
  text-align: left;
}

.img-responsive
{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.PC-text ul {
	list-style:none;
	margin-top: 30%;
}

.PC-text ul li
{
	display:block;
	font-size: 18px;
	line-height:normal;
}

.PC-text .section-title
{
	margin-bottom: 20px;
}


/*-----------------------------------------------------------------------------------*/
/*  Entertainment
/*-----------------------------------------------------------------------------------*/

#ent {
  position: relative;
  padding-bottom: 50px;
  background-color:#f7f7f7;
}

#ent .ent-container {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

.ent-thumbnail {
  margin-bottom: 30px;
  overflow: hidden;
  float: left;
}

.ent-thumbnail img {
  max-width: 100%;
}

.ent-thumbnail .middle
{
	overflow:hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.container_img {
    position: relative;
    width: 80%;
}

.popup-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  filter: grayscale(100%);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-img:hover {
	filter: grayscale(0%);
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 15px;
  height: 100%;
  width: 100%;
  padding-left: 15px;
}


.container_img:hover .middle {
  opacity: 1;
}

.img_overlay {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 20px;
  line-height:normal;
  position: absolute;
  margin-top: 80%;
  margin-left: 50%;
  padding-right: 25px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width:inherit;
  overflow: hidden;
}


/*-----------------------------------------------------------------------------------*/
/*  Footer
/*-----------------------------------------------------------------------------------*/

#footer {
  background: black;
  padding-top: 50px;
  padding-bottom: 50px;
}

#footerlogo
{
	width: 10%;
	margin: 0 auto;
	padding-bottom: 10px;
}

#footer .socials-media {
  width: 100%;
}

#footer .socials-media ul {
  display: inline-block;
  float: none;
  margin: 0 0 20px 0;
}

#footer .socials-media ul li {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

#footer .socials-media ul li a {
  font-size: 24px;
  color: #999;
  letter-spacing: 0.1em;
  font-weight: 500;
  background: transparent;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#footer .socials-media ul li a:hover {
  color: #b8a07e;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#footer p {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-top: 0;
  text-transform: uppercase;
}
