body {
  background: #333333;
  color: #898989;
  font-family: 'Avenir Next', helvetica;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.02em;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
 /* -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;*/
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 auto;
}

h2 {
  color: #292929;
  font-weight: 600;
}

h4 {
  color: #292929;
  font-size: 14px;
  font-weight: 600;
}

a {
  color: #292929;
  text-decoration: none !important;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

a:hover {
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

nav ul li a {
  padding: 2px 0 0 0;
  position: relative;
  display: block;
  font-size: 12px;
  color: #999999;
  letter-spacing: 0.1em;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

p {
  margin: 25px 0;
  padding: 0;
  font-size: 15px;
  color: #999999;
  line-height: 28px;
}

img {
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}
img:hover {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}

::selection {
  background: #b8a07e;
  color: #fff;

}

.btn {
  background: #333;
  border: medium none;
  border-radius: 0;
  color: #fff;
  font-size: 12px;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  text-transform: uppercase;
}

.btn:hover, .btn:focus {
  color: #fff;
}

.padDiv {
  padding: 30px 20px;
}


.section-title h2 {
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.form-control {
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 0;
  color: #999999;
  font-size: 12px;
  font-weight: 500;
  height: 50px;
  letter-spacing: 0.1em;
  padding-left: 10px;
  margin: 0 0 25px 0;
  line-height: 14px;
  text-transform: uppercase;
}

.form-control:focus {
  box-shadow: none;
  outline: 0 none;
}

.paddsection {
  padding-top: 35px;
  padding-bottom: 35px;
}

.paddsections {
  padding-top: 30px;
  padding-bottom: 30px !important;
}

.hvr-shutter-in-horizontal::before {
  background: #333;
}

.hvr-shutter-in-horizontal:hover {
  background: #b8a07e;
}

.mb-30 {
  margin-bottom: 30px;
}

/*  Navbar Top
/*-----------------------------------------------------------------------------------*/

nav {
  background: black;
  z-index: 1000;
  width: 100%;
  padding-top: 20px;
/*  display: none;*/
  -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
}

.nav-menu
{
  margin-bottom: 0;
  padding-top: 10px;
  margin: 0 auto;
  text-align;
}

.nav-menu ul {
  margin: 0 auto;
}

.nav-menu a {
  font-family: American Typewriter, Arial, monospace, helvetica;
  color: white;
}

nav ul li {
  float: left;
  margin-right: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-left: 40px;
}

nav ul li a {
  padding: 2px 0 0 0;
  position: relative;
  display: inline;
  font-size: 14px;
  color: #999999;
  font-family: 'Poppins', helvetica;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.logo {
  float: left;
}

.logo img {
  width: 100px;
  height: 50px;
}

.responsive {
  display: none;
  font-size: 23px;
}

.active {
  color: #afafaf;
}

/*----------------------------------------------------------------------------------*/
/*  Header
/*-----------------------------------------------------------------------------------*/

#header
{
  width: 100%;
}


#header .header-content {
  text-align: left;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: margin-left;
}

.header-content h1 {
/*<<<<<<< HEAD*/
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  position:absolute;
  animation: left_to_right ease 3s;

/*=======*/
  font-size: 225px;
  font-weight: 700;
  /*margin-top: 300px;
  /*margin-bottom: 10px;*/
  margin-top: 50px;
  line-height: 0.72;
  margin-left: 10px;
  text-shadow: 1px 1px #000;
  text-transform: uppercase;
  color: #fff;
  animation: left_to_right ease 3s;
}

@keyframes left_to_right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 10px;
  }
}

HTML  CSS Result
EDIT ON
 /* GLOBAL STYLES */
body {
  background: #333;
  padding-top: 5em;
  display: flex;
  justify-content: center;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1
{
  color: #FFF;
  font-family: 'Avenir Next';
  font-weight: 600;
  font-size: 225px;
  padding-top: 75px;
  line-height: 0.71;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid; /* The typwriter cursor */
  white-space: pre; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .07em; /* Adjust as needed */
  animation:
    typing 1.2s steps(30, end),
    blink-caret .5s step-end infinite;
  position: absolute;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  100% { border-color: orange }
}

#typewritertext
{
  text-align: left;
}

.header_bg
{
	width: 100%;
  height: auto;
}


/*video*/
#videoPlayer
{
  background-color: black;
  height: auto;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

#PVintro
{
	/*margin-left: 30px;*/
	/*text-shadow: 2px 2px 5px black;*/
	font-size: 185px;
	font-weight: 700;
	margin-top: 25px;
	line-height: 0.72;
  top: 130%;

}

@keyframes left_to_right {
	from {
		margin-left: -100%;
	}
	to {
		margin-left: 0px;
	}
}
/*Media Queries for Header*/


#about
{
  width: 100%;
  background-image: url(images/purevolume pics/concert.jpg);
  display: inline-block;
  clear: both;
  overflow: hidden;

}

#aboutImg img
{
  width: 50%;
  float: left;
}

#aboutText
{
  width: 50%;
  text-align: center;
<<<<<<< HEAD
  float: right;
=======
  float: left;
}

#aboutText p
{
  font-family: 'Avenir Next';
  font-size: 1.1em;
  padding: 75px;
}

#aboutText h1
{
  color: white;
  text-shadow: 0 0 0.2em #FFF, 0 0 0.2em #FFF;
  letter-spacing: 4px;
  font-family: 'Avenir Next', helvetica;
  font-weight: lighter;
  font-size: 3em;
  text-align: center;
  padding-top: 100px;
}

#statsText
{
  width: 50%;
  padding: 50px;
  text-align: center;
  float: left;
}

#statsImg img
{
  width: 50%;
}
*/

.text-block {
    width: 50%;
    bottom: 20px;
    right: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

#music1 {
  width: 100%;
  background: #f7f7f7;
}

.music-img ul {
	list-style:none;
}

.music-img ul li
{
	display:inline;
}

.music-img ul li a
{
	display: inline;
	float: left;
	width: 50%;
}

#music1 .music-descr .p-heading {
  font-size: 28px;
  text-align: left;
}

#music1 .music-descr .separator {
  max-width: 80%;
  margin-bottom: 0;
  text-align: left;
}

.img-responsive
{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

#music2 {
  width: 100%;
  background: #f7f7f7;
}

.music-text ul {
	list-style:none;
	margin-top: 30%;
}

.music-text ul li
{
	display:block;
	font-size: 18px;
	line-height:normal;
}

.music-text .section-title
{
	margin-bottom: 20px;
}

.img_overlay_container
{
	position: relative;
    text-align: left;
    color: white;
	filter: grayscale(100%);
}

.text_overlay
{
	position: absolute;
    bottom: 8px;
    left: 16px;
	font-weight:400;
}

.img_overlay_container:hover
{
	color: white;
	text-shadow: 2px 2px 2px black;
	filter: grayscale(0%);
}

#NYFW
{
	color:white;
	text-stroke: 1px black solid;
}

/*-----------------------------------------------------------------------------------*/
/*  Pop Culture
/*-----------------------------------------------------------------------------------*/

#popculture {
  width: 100%;
  background: white;
}

.PC-img ul {
	list-style:none;
}

.PC-img ul li
{
	display:inline;
}

.PC-img ul li a
{
	display: inline;
	float: left;
	width: 50%;
}

#popculture .music-descr .p-heading {
  font-size: 28px;
  text-align: left;
}

#popculture .music-descr .separator {
  max-width: 80%;
  margin-bottom: 0;
  text-align: left;
}

.img-responsive
{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.PC-text ul {
	list-style:none;
	margin-top: 30%;
}

.PC-text ul li
{
	display:block;
	font-size: 18px;
	line-height:normal;
}

.PC-text .section-title
{
	margin-bottom: 20px;
}


/*stats*/
#statistics
{
  background-color: #333333;
  width: 100%;
  margin: 0 auto;
  clear: both;
  padding: 0;
}

#statistics h1
{
  color: white;
  text-shadow: 0 0 0.2em #FFF, 0 0 0.2em #FFF;
  letter-spacing: 4px;
  font-family: 'Avenir Next', helvetica;
  font-weight: lighter;
  font-size: 3em;
  text-align: center;
  padding-top: 60px;
}

#statistics h3
{
  color: #e73169;
  font-family: 'Courier';
  font-size: 1.7em;
  text-align: center;
  margin: 0 auto;
}

#statistics h4
{
  color: white;
  font-family: 'Avenir Next';
  font-weight: lighter;
  font-size: 1.2em;
  display: inline;
  text-align: center;
  padding-top: 20px;
  margin: 0 auto;
}

.stat
{
  width: 100%;
  float: left;
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
}
>>>>>>> 56b44b5904553b03b48936cdfbbe32bf357ad69a

/*-----------------------------------------------------------------------------------*/
/*  Entertainment
/*-----------------------------------------------------------------------------------*/

#ent {
  position: relative;
  padding-bottom: 50px;
  background-color:#f7f7f7;
}


#ent .ent-container {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

.ent-thumbnail {
  margin-bottom: 30px;
  overflow: hidden;
  float: left;
}

.ent-thumbnail img {
  max-width: 100%;
}

.ent-thumbnail .middle
{
	overflow:hidden;
}

#ent_title
{
  color: #333;
  padding: 40px 0px 0px 40px;
  text-shadow: 0 0 0.1em #333, 0 0 0.1em #333;
}

#seeMore
{
  font-size: 20px;
  margin-left: 15px;
}


.container_img {
    position: relative;
    width: 50%;
}

.popup-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  filter: grayscale(100%)
}

.popup-img:hover {
	filter: grayscale(0%);
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 15px;
  height: 100%;
  width: 100%;
}

.container_img:hover .image {
  opacity: 0.3;
}

.container_img:hover .middle {
  opacity: 1;
}

.img_overlay {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 25px;
  line-height:normal;
  position: absolute;
<<<<<<< HEAD
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
}


/*-----------------------------------------------------------------------------------*/
/*  Contact
/*-----------------------------------------------------------------------------------*/

#contact {
  height: auto;
  width: 100%;

}

.contact-details {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-details li {
  padding-bottom: 10px;
}

#contact input, #contact textarea {
  width: 100%;
}


#contact  #sendmessage {
  color: #18d26e;
  border: 1px solid #18d26e;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px;
}

#contact  #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px;
}

#contact #sendmessage.show, #contact #errormessage.show, #contact .show {
  display: block;
}

#contact .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}


/*-----------------------------------------------------------------------------------*/
/*  Footer
/*-----------------------------------------------------------------------------------*/

#footer {
  background: black;
  padding-top: 50px;
  padding-bottom: 50px;
}

#footerlogo
{
	width: 10%;
	margin: 0 auto;
	padding-bottom: 10px;
}

#footer .socials-media {
  width: 100%;
}

#footer .socials-media ul {
  display: inline-block;
  float: none;
  margin: 0 0 20px 0;
}

#footer .socials-media ul li {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

#footer .socials-media ul li a {
  font-size: 24px;
  color: #999;
  letter-spacing: 0.1em;
  font-weight: 500;
  background: transparent;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#footer .socials-media ul li a:hover {
  color: #b8a07e;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#footer p {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-top: 0;
  text-transform: uppercase;
}

<<<<<<< HEAD
=======
#map img
{
  width: 100%;
}
>>>>>>> 56b44b5904553b03b48936cdfbbe32bf357ad69a

/*About Page*/
.aboutHeader
{
  width: 100%;
  background-size: cover;
  margin: 0 auto;
  padding-left: 50px;
}

#trailer
{
	width:100%;
}

#volume {
	position: absolute;
	left: 24px;
	margin: 0 auto;
	height: 5px;
	width: 300px;
	background: #555;
	border-radius: 15px;

	.ui-slider-range-min {
		height: 5px;
		width: 300px;
		position: absolute;
		background: $primary-color;
		border: none;
		border-radius: 10px;
  	outline: none;
	}

	.ui-slider-handle {
		width: 20px;
  	height: 20px;
		border-radius: 20px;
  	background: #FFF;
  	position: absolute;
  	margin-left: -8px;
  	margin-top: -8px;
  	cursor: pointer;
  	outline: none;
	}
}

#videoPlayer
{
  clear: both;
  width: 100%;
  margin: 0 auto;
}

#controls
{
  margin: 0 auto;
  text-align: center;
}

#playPause
{
	font-family: 'Avenir Next', cambria;
  font-weight: bold;
	border-radius: 5%;
	background-color: #efefef;
	border-bottom: thin;
	border-bottom-color: #454545;
	border-bottom-style:solid;
	border-right: thin;
	border-right-color: #454545;
	border-right-style:solid;
	display: inline;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 20px;
	margin-right: 10px;
}

#playPause:hover
{
	background-color: #7C7C7C;
	cursor: pointer;
}
